matplotlib
pandas
requests
python-dotenv
langchain 
langchain_openai 
langchain_chroma 
langchain-community
langchain_huggingface
langchain-google-genai
langchain-ollama
openai 
chromadb 
tiktoken 
tavily-python
fastapi
pydantic
uvicorn
bitsandbytes
transformers
accelerate